<div class="container">
    <div class="row">
        <h3>Файлы</h3>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="70%">Наименование</th>
                    <th width="25%"></th>
                </tr>
            </thead>
            <tbody id="docs-table">
                <tr *ngFor="let doc of documents">
                    <td>{{doc.id}}</td>
                    <td>{{doc.name}}</td>
                    <td><a href="{{doc.link}}" class="btn btn-default" download="{{doc.name}}">Скачать</a></td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>История согласования</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="15%">Дата</th>
                        <th width="30%">Автор</th>
                        <th width="40%">Комментарий</th>
                        <th width="15%">Статус</th>
                    </tr>
                </thead>
                <tbody id="comments-table">
                    <tr *ngFor="let comment of comments">
                        <td>{{comment.id}}</td>
                        <td>{{comment.date}}</td>
                        <td>{{comment.author}}</td>
                        <td>{{comment.text}}</td>
                        <td>{{comment.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h1>Комментарий</h1>
    </div>
    <div class="row">
        <textarea class="form-control" rows="3" id="comment-text" [(ngModel)]="comment"></textarea>
    </div>
    <div class="row" id="agreement_row">
        <button type="submit" class="btn btn-default" id="agree-btn" (click)="agree()">
            <span class="glyphicon glyphicon-ok-sign" style="font-size: 16px;"></span>
            Согласовать
        </button>
        <button type="submit" class="btn btn-default" id="disagree-btn" (click)="disagree()">
            <span class="glyphicon glyphicon-ok-sign" style="font-size: 16px;"></span>
            Отклонить
        </button>
    </div>
</div>